<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置实例别名 -->
	<typeAliases>
		<typeAlias alias="Users" type="com.jackie.vo.Users" />
		<typeAlias alias="Goods" type="com.jackie.vo.Goods" />
		<typeAlias alias="GoodLogs" type="com.jackie.vo.GoodLogs" />

		<typeAlias alias="Category" type="com.jackie.vo.Category" />
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://127.0.0.1:3306/homework_system" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper class="com.jackie.mybatis.inter.ICategoryOperation" />
		<mapper class="com.jackie.mybatis.inter.IGoodsOperation" />
		<mapper class="com.jackie.mybatis.inter.IUserOperation" />
		<mapper class="com.jackie.mybatis.inter.IGoodLogsOperation" />
	</mappers>
</configuration>